In [2]:
import numpy as np
import pandas as pd

In [4]:
sealions_df = pd.read_csv('./coordinates.csv')

In [18]:
sealions_df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>adult_males</th>
      <th>subadult_males</th>
      <th>adult_females</th>
      <th>juveniles</th>
      <th>pups</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.jpg</td>
      <td>[(2353, 3726), (3638, 3539), (4720, 3476), (41...</td>
      <td>[(1437, 3178), (4017, 3094), (5135, 2649), (63...</td>
      <td>[(1953, 3730), (2882, 3728), (3443, 3725), (26...</td>
      <td>[(3295, 3515), (1009, 3489), (3941, 3470), (10...</td>
      <td>[(3143, 3733), (3486, 3726), (2694, 3711), (19...</td>
    </tr>
  </tbody>
</table>
</div>